.star-war-container{
    .header-title{
        background-color: #f2d8c3;
        padding: 5px;
    }

    
    p.MuiTablePagination-displayedRows, p.MuiTablePagination-selectLabel{
        margin-bottom: 0;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-weight: bold;
    }
    .MuiDataGrid-virtualScroller{
        background-color: #fcf7f3;
    }
}